@font-face {
  font-family: 'Montserrat';
  src: url('../styles/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.cards {
  font-family: Montserrat;
  background-color: #f6f6f6;
  margin: 0px 80px 80px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  border-radius: 30px;
}
/*
.photoCover {
  position: relative;
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
*/
.titleCard {
  position: absolute;
  margin-left: 20px;
  color: #ffffff;
  width: 250px;
}
a:visited {
  color: #ff6060;
}
.bannerImg {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 80px 50px 80px;
  border-radius: 25px;
  position: relative;
}
.imgHome {
  border-radius: 25px;
  width: 100%;
  height: 223px;
  object-fit: cover;
  filter: brightness(70%);
}
.textImg {
  font-family: Montserrat;
  top: 20%;
  color: #ffff;
  font-size: 48px;
  text-align: center;
}
.divTextImg {
  position: absolute;
}

@media screen and (max-width: 767px) {
  .App {
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .bannerImg {
    margin: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
  }
  .divTextImg {
    margin-left: 10px;
  }
  .textImg {
    top: 0px;
    font-size: 25px;
  }
  .cards {
    justify-content: center;
    margin-left: 25px;
    margin-right: 25px;
  }
}
