@font-face {
  font-family: 'Montserrat';
  src: url('../styles/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
#sectionLogement {
  font-family: 'Montserrat';
  margin-left: 80px;
  margin-right: 80px;
}
.logementTitle {
  font-size: 36px;
  margin: 0px;
}
.logementLocation {
  font-size: 18px;
}
.titleAndHost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #f06060;
}
.pictureAndName {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.hostName {
  width: min-content;
  text-align: end;
}
.stars {
  margin-top: 20px;
}
.tags {
  display: flex;
  padding: 0px;
  list-style: none;
}
.liTags {
  font-size: 14px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f06060;
  color: white;
  height: 25px;
  width: 150px;
  border-radius: 10px;
}
ul,
.tags {
  margin-bottom: 0px;
  margin-top: 0px;
}
.accordionsLogement {
  width: auto;
  display: flex;
  justify-content: space-between;
  line-height: 1.5em;
  margin-bottom: 0px;
}
.descriptionAccordions {
  min-height: 200px;
  font-size: 18px;
  margin: 0px;
}
.accordionDescription {
  width: 45%;
}
.accordionEquipement {
  width: 45%;
}
.divHost {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.equipementAccordion {
  min-height: 200px;
  list-style: none;
  line-height: 1.5em;
  padding-left: 0px;
  font-size: 18px;
}
.portraitHote {
  border-radius: 50% 50% 50% 50% / 48% 50% 50% 52%;
  width: 80px;
  margin-left: 10px;
}
