@font-face {
  font-family: 'Montserrat';
  src: url('../styles/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
.centerAccordions {
  display: flex;
  justify-content: center;
}
.accordions {
  font-family: 'Montserrat';
  width: 80%;
  margin-bottom: 50px;
}
.accordion {
  margin-bottom: 20px;
}
.accordionTitle {
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f06060;
  padding: 1rem;
  border-radius: 5px;
}
.accordionTitle:hover,
.active .accordionTitle {
  cursor: pointer;
}
.fa-chevron-down {
  padding-right: 20px;
}
.fa-chevron-down::before {
  position: absolute;
  transform: rotate(0deg);
  transition: all 0.2s;
}
.accordionIcon {
  display: flex;
}
.active .fa-chevron-down::before {
  transform: rotate(180deg);
}
.accordionContent {
  background-color: #f7f7f7;
  color: #f06060;
  visibility: hidden;
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 1rem;
  transition: all 0.1s ease-in;
}
.active .accordionContent {
  visibility: visible;
  height: auto;
  overflow: visible;
  padding: 1rem;
  opacity: 1;
}
