@font-face {
  font-family: 'Montserrat';
  src: url('../styles/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
.bannerApropos {
  width: auto;
  display: flex;
  justify-content: center;
  margin: 50px;
  border-radius: 25px;
  position: relative;
}
.imgBanner {
  border-radius: 25px;
  width: 100%;
  height: 223px;
  object-fit: cover;
  filter: brightness(70%);
}

.collapsible .content {
  padding: 6px;
  background-color: #f6f6f6;
  color: #f06060;
}
.content2 {
  width: 100%;
  text-align: center;
  background-color: #f6f6f6;
  color: #f06060;
}
.collapsible .header {
  background-color: #f06060;
  padding: 6px;
  cursor: pointer;
}

.collapsible {
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.header {
  font-size: 24px;
  color: white;
  height: 35px;
  width: 80%;
  padding-left: 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: space-between;
}
