@font-face {
  font-family: 'Montserrat';
  src: url('../styles/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
.error {
  font-family: Montserrat;
  color: #ff6060;
  font-size: 288px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 0px;
}
.containerError {
  text-align: center;
}
.logoError {
  margin-top: 10%;
}
.textError {
  font-family: Montserrat;
  color: #ff6060;
  font-size: 36px;
}
.linktext {
  font-family: Montserrat;
  margin-top: 10%;
  font-size: 18px;
}
