@font-face {
  font-family: 'Montserrat';
  src: url('../styles/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
footer {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}
.imgEtText {
  text-align: center;
}
.logoKasaWhite {
  width: 122px;
  height: 40px;
  margin-top: 40px;
}
.rightReserved {
  font-family: Montserrat;
  color: #ffff;
  font-size: 25px;
}
