.App-header {
  color: #ff6060;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
}
.App-logo {
  height: 68px;
}
.navHome {
  font-size: 24px;
}
.navAcceuil {
  margin-right: 60px;
  text-decoration: none;
}
.navAPropos {
  text-decoration: none;
}
.navAcceuil:hover {
  text-decoration: underline;
}
.navAPropos:hover {
  text-decoration: underline;
}
a:visited {
  color: #ff6060;
}
