@font-face {
  font-family: 'Montserrat';
  src: url('../styles/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
#sectionLogement {
  font-family: 'Montserrat';
  padding-left: 80px;
  padding-right: 80px;
}
.logementheight {
  min-height: 200px;
}
.titleAndHost {
  display: flex;
  justify-content: space-between;
  color: #f06060;
}
.tags {
  display: flex;
  margin-bottom: 20px;
  padding: 0px;
  list-style: none;
}
.liTags {
  font-size: 14px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f06060;
  color: white;
  height: 25px;
  width: 150px;
  border-radius: 10px;
}
.accordionsLogement {
  width: auto;
  display: flex;
  justify-content: space-between;
  line-height: 1.5em;
  margin-bottom: 0px;
}
.accordionDescription {
  width: 45%;
}
.accordionEquipement {
  width: 45%;
}
.divHost {
  display: flex;
  align-items: center;
}
.equipementAccordion {
  list-style: none;
  line-height: 1.5em;
  padding-left: 0px;
}
.portraitHote {
  border-radius: 50% 50% 50% 50% / 48% 50% 50% 52%;
  width: 80px;
  margin-left: 10px;
}
