.card {
  margin: 30px;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
